* {
    box-sizing: border-box;
    font-size: 16pt;
}

html {
    min-height: 100%;
}

body {
    margin: 0;
    background-color: #FAF8EF;
    color: #776E65;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 550px) {
    html, body {
        width: 550px;
        overflow-x: hidden;
    }
}

a, a:active, a:visited {
    color: #776E65;
}

.border {
    border: 7px solid #BBADA0;
}

#flex-container {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 540px;
}

#header {
    display: flex;
    flex-direction: row;
    width: 514px;
    justify-content: space-between;
}
#header p {
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 10px 0;
    padding: 7px;
}

button, #game-score {
    background-color: #8F7A66;
    border: 1px solid #8F7A66;
    border-radius: 2px;
    padding: 7px;
    color: #F9F6F2;
}
#game-score {
    width: 200px;
}

#game {
    width: 514px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-start;
}

#game-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: baseline;
    padding: 0;
}
#game-info p {
    margin: 0;
    margin-top: 15px;
}

#game .plitka-container {
    width: 125px;
    height: 125px;
    background-color: #CDC1B4;
    color: #776E65;
    text-align: center;

    font-size: 36pt;
    font-weight: bold;
    display: flex;
}

.plitka-container > div {
    padding-top: 26px; 
    flex: 0 0 110px;
    font-size: 36pt;
    font-weight: bold;
}

.plitka2 {
    background-color: #EEE1C9 !important;
    color: #776E65 !important;
}
.plitka4 {
    background-color: #EEE4DA !important;
    color: #776E65;
}
.plitka8 {
    background-color: #F3B27A !important;
    color: #F9F6F2 !important;
}
.plitka16 {
    background-color: #F69664 !important;
    color: #F9F6F2 !important;
}
.plitka32 {
    background-color: #F77C5F !important;
    color: #F9F6F2 !important;
}
.plitka64 {
    background-color: #F75F3B !important;
    color: #F9F6F2 !important;
}
.plitka128 {
    background-color: #EDD073 !important;
    color: #F9F6F2 !important;
}
.plitka256 {
    background-color: #EDCC62 !important;
    color: #F9F6F2 !important;
}
.plitka512 {
    background-color: #EDC950 !important;
    color: #F9F6F2 !important;
}

/* заменить на нормальные */
.plitka1024 {
    background-color: #EDC950 !important;
    color: #F9F6F2 !important;
}
.plitka2048 {
    background-color: #EDC950 !important;
    color: #F9F6F2 !important;
}